.one {
height: 100%;
width: 100%;
background-color: green;
border: 5px solid white;
}

.vertical {
            border-left: 6px solid white;
            height: 100%;
            position:absolute;
            left: 50%;
        }

#circlecenter {
    background: transparent;
    border-radius: 50%;
    width: 15%;
    height: 30%;
    position:relative;
    left:42%;
    top:33%;
border: 5px solid white;

}

#circleleft {
    background: green;
    border-radius: 50%;
    width: 15%;
    height: 30%;
    position:relative;
    left:0%;
    top:3%;
	border: 5px solid white;
}
	
#circleright {
    background: transparent;
    border-radius: 50%;
    width: 15%;
    height: 30%;
    position:relative;
    right:-84%;
    top:-27%;
    border:5px solid white;
}

#biggerleftbox {
  background-color:green ;
  border: 5px solid white;
  width: 10%;
  height: 45%;
  position:relative;
  left:-0.4%;
  top:-65%;
}
#smallleftbox {
  background-color:green ;
  border: 5px solid white;
  width: 5%;
  height: 15%;
  position:relative;
  left:-0.4%;
  top:-98%;
}
